{% extends "account/base.html" %}

{% load i18n sekizai_tags %}
{% load account socialaccount %}
{% load staticfiles  %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% addtoblock "js" %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{% static 'id4medemo/id4me_login_javascript.js' %}"></script>
<script language="javascript">
  function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }  

  $(function() {
    $('#id4me-input').keydown(function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        location.href = $('#id4me-button').attr("data-link") + "&id4me=" + $('#id4me-input').val()  + "&rememberme=true";
      }
    });
  });
  

  $(document).ready(function(){ 
    var user = getCookie("id4me.user");
    if (user != "") {      
      $('#id4me-button').attr("href", $('#id4me-button').attr("data-link") + "&id4me=" + user)
      $('#id4me-text').html(" Login as " + user);
    } else {
      $('#id4me-button').click(function() {
        $('#id4me-input').show();
        $('#id4me-input').focus();
      });
      $('#id4me-button').removeAttr("href");
    }
  });

</script>

{% endaddtoblock %}


<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}


<div class="container">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    <div class="row">
      <h2 style="text-align:center">Please sign in or login wiht ID4me</h2>
      <div class="vl">
        <span class="vl-innertext">{% trans 'or' %}</span>
      </div>
        
      {% if socialaccount_providers %}
      <div class="col">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}
      {% endif %}

      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>

        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="submit" value="{% trans "Sign In" %}">        
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
      
    </div>
  </form>
</div>

<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="{{ signup_url }}" style="color:white" class="btn">Sign up</a>
    </div>
<!--    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div> -->
  </div>
</div>

{% endblock %}
