{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
        <a href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" class="{{provider.id}} {{brand.id}} btn login-btn" id="{{provider.id}}-button">
          <i class="fa fa-{{provider.id}} fa-{{brand.id}} fa-fw"></i>
          <span id="{{brand.id}}-text" class="login-button-text">Login with {{brand.name}}</span>
          <input id="{{brand.id}}-input" type="text" name="{{brand.id}}" placeholder="Enter your ID" style="display: none;">
        </a>
{% endfor %}
{% endif %}

<!-- START BUTTON {{provider.id}} -->
<div>
    {% if form.errors.id4me != None %}
        {{ form.errors.id4me }}
    {% endif %}

    <div id="{{provider.id}}-button" class="btn btn-{{provider.id}} btn-user btn-block">
        <a  id="{{provider.id}}-button-anchor"
            data-link="{% provider_login_url provider.id process=process %}">
            <i class="fa fa-{{provider.id}} fa-fw"></i>
            <span   id="{{provider.id}}-text"
                    class="login-button-text">Login with {{provider.name}}</span>
        </a>
        <span id="{{provider.id}}-handler" class="alignright hiddenform">
            <div id="{{provider.id}}-remove-id" class="circle"><div class="cross_hori deg45"></div><div class="cross_vert deg45"></div></div>
        </span>
    </div>

    <div id="{{provider.id}}-handler-form" {% if form.id4me.value == None %}class="hiddenform"{% endif %}>
        <input class="form-control form-control-user" id="{{provider.id}}-input" type="text" name="{{provider.id}}" placeholder="Enter your ID" {% if form.id4me.value != None %}value="{{ form.id4me.value|stringformat:'s' }}"{% endif %}>
        <div id="foo">
          <div class="custom-control custom-checkbox small alignleft">
            <input type="checkbox" class="custom-control-input" name="rememberme" id="{{provider.id}}-checkbox" value="yes" {% if form.rememberme.value %}checked{% endif %}>
            <label class="custom-control-label" for="{{provider.id}}-checkbox">Remember Me</label>
          </div>
            {% if form.usedefaultifnottrusted.value %}
            <br>
            <div class="custom-control custom-checkbox small alignleft">
            <input type="checkbox" class="custom-control-input" name="usedefaultifnottrusted" id="id_usedefaultifnottrusted" value="yes" checked>
            <label class="custom-control-label" for="id_usedefaultifnottrusted">{{ form.usedefaultifnottrusted.label }}</label>
          </div>
            {% endif %}
            {% if form.createnotexistingaccount.value %}
            <br>
          <div class="custom-control custom-checkbox small alignleft">
            <input type="checkbox" class="custom-control-input" name="createnotexistingaccount" id="id_createnotexistingaccount" value="yes" checked>
            <label class="custom-control-label" for="id_createnotexistingaccount">{{ form.createnotexistingaccount.label }}</label>
          </div>
            {% endif %}
          <button id="{{provider.id}}-input-signin" class="btn btn-secondary btn-user btn-block alignright" type="button">Sign In</button>
        </div>
    </div>
</div>
<!-- END BUTTON {{provider.id}} -->

{% endfor %}
